$primaryBackground: #000000;
$secondaryBackground: #36494e;
$tertiaryBackground: #1680eb;
$primaryText: #7ea0b7;
$secondaryText: #a9cef4;
$tertiaryText: #df52bc;
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
